body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
}

header {
    background-color: #40c37f;
    padding: 20px;
}

main {
    text-align: center;
    padding: 50px;
    color: #333; /* Цвет текста в основной части */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button {
    background-color: rgb(171, 181, 174);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}




